<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2011-2015, UBUDU SAS
    All rights reserved.

    Redistribution and use in source and binary forms, with or without
    modification, are permitted provided that the following conditions are met:

    * Redistributions of source code must retain the above copyright notice, this
    list of conditions and the following disclaimer.

    * Redistributions in binary form must reproduce the above copyright notice,
    this list of conditions and the following disclaimer in the documentation
    and/or other materials provided with the distribution.

    THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
    AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
    IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
    DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
    FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
    DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
            SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
    CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
    OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
    OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.ubudu.cordova.sdk"
        version="0.1-dev-3">
    <name>Ubudu SDK</name>
    <description>Cordova Ubudu SDK Plugin</description>
    <license>BSD License</license>
    <keywords>cordova,ubudu,sdk,beacon,ibeacon</keywords>
    <js-module src="www/UbuduSDK.js" name="UbuduSDK">
        <clobbers target="UbuduSDK" />
    </js-module>
    <js-module src="www/UbuduUser.js" name="UbuduUser">
        <clobbers target="UbuduUser" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="UbuduSDKCordova">
                <param name="ios-package" value="UbuduSDKCordova"/>
            </feature>
        </config-file>
        <header-file src="src/ios/UbuduSDKCordova.h" />
        <source-file src="src/ios/UbuduSDKCordova.m" />
        <framework src="Foundation.framework" weak="true" />
        <framework src="CoreGraphics.framework" weak="true" />
        <framework src="UIKit.framework" weak="true" />
        <framework src="SystemConfiguration.framework" weak="true" />
        <framework src="MobileCoreServices.framework" weak="true" />
        <framework src="CoreData.framework" weak="true" />
        <framework src="CoreLocation.framework" weak="true" />
        <framework src="CoreBluetooth.framework" weak="true" />
        <framework src="PassKit.framework" weak="true" />
        <framework src="src/ios/UbuduSDK.framework" custom="true" />
    </platform>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="UbuduSDKCordova">
                <param name="android-package" value="com.ubudu.cordova.sdk.UbuduSDKCordova"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
            <uses-permission android:name="android.permission.WAKE_LOCK"/>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.ubudu.sdk.WebActivity" />
            <receiver android:name=".service.UbuduBootReceiver">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED"/>
                </intent-filter>
            </receiver>

            <service
                android:name="com.ubudu.sdk.service.UbuduService"
                android:enabled="true"
                android:exported="false">
                <intent-filter>
                    <action android:name="com.ubudu.sdk.service.UbuduService.action.DISPLAY_WEB_PAGE" />
                    <action android:name="com.ubudu.sdk.service.UbuduService.action.OPEN_SAMSUNG_WALLET" />
                </intent-filter>
            </service>
            <service
                android:name="com.ubudu.network.ibeacon.service.IBeaconService"
                android:enabled="true"
                android:exported="false"
                android:isolatedProcess="false" />
            <service
                android:name="com.ubudu.network.ibeacon.IBeaconIntentProcessor"
                android:enabled="true"
                android:exported="false"
                android:isolatedProcess="false">
                <meta-data android:name="background" android:value="true" />
                <intent-filter android:priority="1">
                    <action android:name="com.ubudu.sdk.beacon.internal.action.IBeaconIntentProcessor"/>
                </intent-filter>
            </service>
        </config-file>
        <source-file src="src/android/com/ubudu/cordova/sdk/UbuduSDKCordova.java" target-dir="src/com/ubudu/cordova/sdk" />
        <source-file src="src/android/com/ubudu/cordova/sdk/UbuduUserCordova.java" target-dir="src/com/ubudu/cordova/sdk" />
        <source-file src="src/android/ubudu-sdk-1.4.5.jar" target-dir="libs" />
        <source-file src="src/android/gson-2.2.4.jar" target-dir="libs" />
        <source-file src="src/android/ormlite-android-4.48.jar" target-dir="libs" />
        <source-file src="src/android/ormlite-core-4.48.jar" target-dir="libs" />
        <source-file src="src/android/volley.jar" target-dir="libs" />
    </platform>
</plugin>
